/* Custom fonts here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: #2c2c2c !important;
}

@font-face {
  font-family: molot;
  src: url(@/assets/fonts/Molot.otf);
}

.ossph-font {
  font-family: molot;
}

.btn {
  @apply normal-case;
}

.title-hero {
  @apply text-7xl text-gray-900;
}

.subtitle-hero {
  @apply text-3xl text-gray-500;
}

.title-panel {
  @apply text-6xl text-gray-900;
}

.subtitle-panel {
  @apply text-3xl text-gray-500;
}