/* Custom fonts here */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #2c2c2c !important;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(227, 249, 255, 1) 100%);
}

@font-face {
  font-family: molot;
  src: url(@/assets/fonts/Molot.otf);
}

h1 {
  @apply ossph-font;
}

.ossph-font {
  font-family: molot;
}

.ossph-text-gradient {
  background: linear-gradient(90deg, #0060a0 0, #7524b3 50%, #cf557d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ossph-gradient-bg {
  background: #0060a0;
  background: linear-gradient(90deg, #0060a0 0, #7524b3 50%, #cf557d);
}

.btn {
  @apply normal-case;
}

.title-hero {
  @apply text-7xl text-gray-900;
}

.subtitle-hero {
  @apply text-3xl text-gray-500;
}

.title-panel {
  @apply text-6xl text-gray-900;
}

.subtitle-panel {
  @apply text-3xl text-gray-500;
}